<h1>New game of Tarot</h1>

<%= form_for :game, url: games_path do |f| %>
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back to list of games', games_path %>

